.input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1.6rem;
  }
  
  .input input {
    width: 4.8rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.8rem;
  }
  